@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('./assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('./assets/fonts/ClashDisplay-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('./assets/fonts/ClashDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('./assets/fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('./assets/fonts/ClashDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('./assets/fonts/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('./assets/fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #10100e;
  color: #ffffe3;
  font-family: 'ClashDisplay-Regular';
}

.img-div img {
  filter: grayscale(100%);

  transition: all;
  transition-duration: 1s;
}

.img-div img:hover {
  filter: none;
  transform: scale(1.05);
}

.text-before::before {
  content: 'Designing With Purpose.';
  transform: translate(-40px, -20px);
}
.text-after::after {
  content: 'Building With React.';
  text-align: end;
  transform: translate(40px, 20px);
}

@media (max-width: 767px) {
  .text-before::before {
    font-size: 14px;
    transform: translate(0px);
  }

  .img-div img:hover {
    transform: scale(1.01);
  }

  .text-after::after {
    font-size: 14px;
    transform: translate(0px);
  }
}
.logos div {
  border: 1px solid rgba(172, 255, 47, 0.13);
  display: flex;
  border-radius: 25%;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1887;
  box-shadow: rgba(89, 55, 55, 0.1) 0px 20px 25px -5px,
    rgba(92, 92, 92, 0.04) 0px 10px 10px -5px;
  transition: all 500ms ease-in-out;
}
.logos div:hover {
  border-radius: 100%;
}

.logos div:nth-child(1):hover {
  box-shadow: rgba(255, 149, 0, 0.1) 0px 20px 20px -5px,
    rgba(255, 149, 0, 0.04) 0px 10px 10px -5px;
}
.logos div:nth-child(2):hover {
  box-shadow: rgba(10, 53, 255, 0.1) 0px 20px 20px -5px,
    rgba(10, 153, 255, 0.04) 0px 10px 10px -5px;
}
.logos div:nth-child(3):hover {
  box-shadow: rgba(7, 156, 255, 0.1) 0px 20px 20px -5px,
    rgba(161, 10, 255, 0.04) 0px 10px 10px -5px;
}
.logos div:nth-child(4):hover {
  box-shadow: rgba(179, 1, 255, 0.1) 0px 20px 20px -5px,
    rgba(10, 153, 255, 0.04) 0px 10px 10px -5px;
}
.logos div:nth-child(5):hover {
  box-shadow: rgba(24, 178, 255, 0.1) 0px 20px 20px -5px,
    rgba(24, 178, 255, 0.04) 0px 10px 10px -5px;
}
.logos img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.img:hover img {
  filter: none;
  transform: scale(1.1);
}
